body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.sidebar{
  margin-top: 20px;
    padding: 0;
    list-style: none;
    display: block;
    float: left;
}

.indexpage{
  display: block;
  padding-left: 250px;
}